.logs {
  padding: 0 0;
  overflow-y: auto;
  flex: auto;
  height: 92%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.logs::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.logs {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}