.CodeMirror {
  font-size: 15px;
  font-family: 'Roboto Mono', monospace;
  position: absolute;
  height: 100%;
  width: 100%;
  padding-top: 0.1rem;
}

.styled-background{
  background-color: #727272;
}

.current-line{
  background-color: #727272;
}

.error{
  background-color: red;
}